.politic-h3 h3 {
    text-align: center;
    font-width: 900;
    font-size: var(--main-size) + 16px;
    color: #0c1e62;
    padding: 20px;
}
.politic-common-provisions {
  width: 80%;
  margin: auto;
  background: yellow;
  border: 2px solid #0c1e62;
}
.politic-common-provisions h5 {
    text-align: justify;
    font-width: 900;
    font-size: var(--main-size) + 6px;
    color: #0c1e62;
}

.politic-common-provisions p {
}

.corruption-text h5 {
    display: border;
    margin: 10px;
}

  .corruption-text p a {
    text-decoration: none;
}
  .corruption-text p a:link {
    color: black;
}
  .corruption-text p a:visited {
    color: black;
}
  .corruption-text p a:hover {
    color: DodgerBlue;
}
  .corruption-text p a:active {
    color: black;
}