#footer-relative {
    display: block;
    z-index: 0;
}

#footer {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    justify-content: center;

    /* height: 100px; */
    text-align: center;
    margin-bottom: 20px;
    z-index: 0;
}

.footer-img {
    width: auto;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.mchs-ast, .mchs-rf {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: center;
    justify-content: center;
    height: auto;
    width: 300px;
    border: 1px solid gray;
    /* margin: 10px; */
    z-index: 0;

    font-size: calc(var(--main-size) + 4px);
}

.mchs-ast .text {
}

.mchs-ast b:hover, .mchs-rf b:hover {
    color: var(--main-color);
}
.mchs-ast p, .mchs-rf p {
    color: gray;
    z-index: 0;
}