.info-div {
    width: 80%;
    margin: auto;
    background: var(--text-background-color);
    border: 2px solid var(--main-color);
    padding: 15px;
  }
  .info-div img {
    float: left;
    height: 300px;
    width: auto;
    margin: 20px;
  }
  .info-h3 {
    text-align: center;
    font-weight: 900;
    font-size: calc(var(--main-size) + 16px);
    color: var(--main-color);
    padding: 20px;
  }
  .info-div-text p {
    text-align: justify;
    margin: 20px;
    padding: 5px;
    font-size: calc(var(--main-size) + 6px);
  }

  .history {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    height: 100%;
    width: 80%;
    margin: auto;
    border: 2px solid var(--main-color);
    padding: 15px;
  }

  .history_block {
    /* flex: auto; */
    /* flex-basis: 500px; */
    margin: 20px;
    width: auto;
  }

  .history_block img:hover {
    position: relative;
    transform: scale(1.7);
    border: 2px solid var(--main-color);
    z-index: 100;
  }

  .history_block p {
    width: 300px;
    margin: auto;
    text-align: center;
    font-size: calc(var(--main-size) + 6px);
  }