.info-div {
    width: 80%;
    margin: auto;
    background: yellow;
    border: 2px solid #0c1e62;
  }
  .info-div img {
    float: left;
    height: 300px;
    width: auto;
  }
  .info-h3 {
    text-align: center;
    font-weight: 900;
    font-size: var(--main-size) + 16px;
    color: #0c1e62;
    padding: 20px;
  }
  .info-div-text p {
    text-align: justify;
    margin: 20px;
    padding: 5px;
  }