.list6b {
    padding:0;
    list-style: none;
}
.list6b li{
    padding:6px;
    margin: 10px;
    font-size: var(--main-size) + 4px;
    font-weight: bolt;
    color: var(--text-color);
    line-height: 1;
    border-left: 4px solid blue;
}
.list6b li a:link {
    color: var(--text-color);
}
.list6b li a:visited {
    color: var(--text-color);
}
.list6b li a:hover {
    color: DodgerBlue;
}
.list6b li a:active {
    color: var(--text-color);
}
/*.list6b li:before {
    padding-right:10px;
    font-weight: bold;
    color: #C0C0C0;
    content: "\2714";
    transition-duration: 0.5s;
}
.list6b li:hover:before {
    color: #337AB7;
    content: "\2714";
}
*/
.main-list-common {
    display: block;
    width: 90%;
    margin: auto;
}
.flex-main-list-common {
    display: flex;
}
.flex-ts {
    display: inline-block;
    flex: 1;
}
.main-h2 {
    text-align: center;
    color: var(--text-color);
}

.ts {
	font-family: Arial;
    font-size: var(--main-size) + 6px;
	color: #ff3773;
	text-shadow:
		-0   -1px 1px blue,
		 0   -1px 1px #ff3773,
		-0    1px 1px #000000,
		 0    1px 1px #000000,
		-1px -0   1px #000000,
		 1px -0   1px #000000,
		-1px  0   1px #000000,
		 1px  0   1px #000000,
		-1px -1px 1px #000000,
		 1px -1px 1px #000000,
		-1px  1px 1px #000000,
		 1px  1px 1px #000000,
		-1px -1px 1px #000000,
		 1px -1px 1px #000000,
		-1px  1px 1px #000000,
		 1px  1px 1px #000000;
}
.main-list-bottom {
    display: block;
    padding-top: 20px;
    width: 70%;
    margin: auto;
    color: var(--text-color);
}
.main-list-bottom p{
    font-size: var(--main-size) + 6px;
    line-height: 1;
}

@media screen and (max-width: 1200px) {
    .main-list-bottom {
        width: 90%;
    }
    .list6b li{
        font-size: var(--main-size) + 6px;
        line-height: 0.8;
    }
    .main-list-bottom p{
        font-size: var(--main-size) + 4px;
        line-height: 0.8;
    }
    #main-flex-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 800px) {
    .main-list-bottom {
        width: 90%;
    }
    .list6b li{
        font-size: var(--main-size) + 1px;
        line-height: 0.8;
        line-height: 0.8;
    }
    .main-list-bottom p{
        font-size: var(--main-size) - 2px;
        line-height: 0.8;
    }
    #main-flex-container {
        flex-direction: column;
    }
}

/*Carousel*/
.carousel-container {
    width: 600px;
    height: 600px;
}
.carousel_items {
  display: flex;
  overflow: hidden;
}
.carousel_item {
  position: relative;
  min-width: 100%;
  height: 400px;
  transition: all 0.5s linear;
  background-repeat: no-repeat;
  background-size: cover;
  /*background-attachment: fixed;*/
}
.carousel_text {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%);
  padding: 0.5rem 1rem;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-shadow: 1px 1px black;
  font-size: calc(1.5rem + 0.3vw);
  font-weight: bolder;
}

/* flex container for main info */

#main-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 400px;
}

.main-flex-item1 {
    flex: 5;
}
.main-flex-item2 {
    flex: 3;
}

/* Закрываем lightbox */
.lightbox {
  display: none;
}

/* Открываем lightbox */
.lightbox:target {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Содержимое lightbox  */
.lightbox figcaption {
  width: 25rem;
  position: relative;
  padding: 1.5em;
  background-color: lightpink;
}

/* Кнопка закрытия */
.lightbox .close {
  position: relative;
  display: block;
}

.lightbox .close::after {
  right: -1rem;
  top: -1rem;
  width: 2rem;
  height: 2rem;
  position: absolute;
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 50%;
  color: white;
  content: "×";
  cursor: pointer;
}

/* Обёртка lightbox  */
.lightbox .close::before {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  content: "";
  cursor: default;
}