/* Title */
.mainmenu-title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: linear-gradient(#425085, var(--main-color));
    height: 250px;
}

.mainmenu-flex-item {flex: 1;}
.mainmenu-title-left {flex: 2;}
.mainmenu-title-center {flex: 5;}
.mainmenu-title-right {
    flex: 2;
    display: block;
    width: auto;
    height: 100%;
    object-fit: cover;
}

.mainmenu-img {
    width: auto;
    height: 100%;
    object-fit: cover;
}

.mainmenu-city {
    display: block;
    width: auto;
    height: 100%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

.mainmenu-title-img {
    position: relative;
    /* width: 100%; */
    /* height: auto; */
    /* object-fit: cover; */
    height: 100%;
    /* object-fit: cover; */
}

.mainmenu-title .mainmenu-h1 {
    text-align: center;
    margin: auto;
    line-height: 2.5em;
    font-family: 'Work Sans', sans-serif;
    /* font-size: calc(var(--main-size)); */
    font-size: 12px;
    font-weight: 700;
    /* color: var(--background-color); */
    color: white;
}

@media screen and (max-width: 1200px) {
    .mainmenu-flex-item, .mainmenu-title-left, .mainmenu-title-right {
        display: none;
    }
    .mainmenu-title-img {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .mainmenu-flex-item, .mainmenu-title-left, .mainmenu-title-right {
        display: none;
    }
    .mainmenu-title-img {
        display: none;
    }
    .mainmenu-title-left, .mainmenu-title-right {
        display: none;
    }
}

/* Menu */
.mainmenu {
    position: relative;
    top: 120%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.mainmenu li {
    float: left;
    list-style-type: none;
}

.mainmenu li a {
    display: block;
    color: var(--text-color);
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    font-size: calc(var(--main-size) +  6px);
}

.mainmenu li p {
    display: block;
    color: var(--text-color);
    text-align: center;
    padding-right: auto;
    padding-left: 300px;
    text-decoration: none;
    font-weight: bold;
}

.mainmenu li a:hover {
    background-color: var(--color-hover);
    /* background-color: yellow; */
    /* outline: 3px solid yellow;  */
    /* font-weight: 700; */
}
.mainmenu-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.mainmenu-before {
    position: relative;
}
.mainmenu-status {
    color: var(--extra-back-color);
    background: var(--main-color);
    justify-content: center;
    font-size: var(--main-size);
}
.mainmenu-rezim {
    display: inline-block;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 800px) {
}