.sample {
    padding: 20px;
    /* background: var(--main-color); */
  }
  .sample_letters {
    width: 1000px;
    margin: auto;
    padding: 5px;
    border: 3px solid black;
    /* background: var(--main-color); */
  }
  
  .sample_letters .act {
    margin-top: -10px;
    color: var(--text-color);
    font-size: calc(var(--main-size) + 1px);
    font-weight: bold;
  }
  
  .sample_letters .sample-title {
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 0px;
  }
  .sample_letters .sample-title h1 {
    text-align: center;
    color: var(--text-color);
  }
  
  .sample_letters ul {
    line-height: 1.5em;
    margin: 5px 0 15px;
    padding: 0;
  }
  
  .sample_letters li {
    font-family: 'Verdana', 'Helvetica', 'sans-serif';
    font-size: calc(var(--main-size) + 6px);
    text-align: justify;
    list-style: none;
    line-height: 1.5em;
    /* position: relative; */
    margin: 3px;
    padding: 0 0 0 20px;
  }
  
  .sample_letters li.square::before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    width: 10px;
    height: 10px;
    background-color: var(--extra-back-color);
  }