{% extends "layout/basic.html" %}
{% load static %}

{% block content %}
<style>
  .price, .cart {
    text-align: center;
    color: white;
    background-color: DodgerBlue;
  }
  .price a:hover {
    background: #7faade;
  }
  .cart a:hover {
    background: #7faade;
  }
  .price {
  }
  .cart {
  }
</style>

<div class="price">
  <h1><a href="{% static 'ipl/docs/price2023.pdf' %}">Прайс</a></h1>
</div>

<div class="cart">
  <h3><a href="{% static 'ipl/docs/cart_ipl.pdf' %}">Карточка ИПЛ</a></h3>
</div>

<div class="flex-container services">
  {% for service in services %}
    <div>
      <img src="{{ service.icon.url }}">
      <!--<h3 style="text-align: center">{{ service.title }}</h3>-->
      <h4 style="text-align: center">{{ service.content }}</h4>
      <p style="text-align: center">{{ service.price }}</p>
      <!--
      {% if service.document %}
        <p style="text-align: center">
          <a href="{{service.document.url}}">Скачать образец заявления</a>
        </p>
      {% endif %}
      -->
    </div>
  {% endfor %}
</div>

<style>
.services p {
  font-size: 15px;
}
.services img {
  margin-top: 10px;
  height: 40px;
  width: 40px;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 400px;
  margin: 10px;
  text-align: center;
  line-height: 1;
  font-size: 30px;
}
</style>
{% endblock %}