{% extends "layout/basic.html" %}
{% load static %}

{% block content %}

<style>
:root {
    --main-list-color: Yellow;
}
.list6b {
    padding:0;
    list-style: none;
}
.list6b li{
    padding:6px;
    margin: 10px;
    font-size: 18px;
    color: var(--main-list-color);
    line-height: 1;
    border-left: 4px solid blue;
}
.list6b li:before {
    padding-right:10px;
    font-weight: bold;
    color: #C0C0C0;
    content: "\2714";
    transition-duration: 0.5s;
}
.list6b li:hover:before {
    color: #337AB7;
    content: "\2714";
}
.main-list-common {
    display: block;
    width: 90%;
    margin: auto;
}
.flex-main-list-common {
    display: flex;
}
.flex-ts {
    display: inline-block;
    flex: 1;
}
.main-list-common h2 {
    text-align: center;
    color: #0c1e62;
}

.ts {
	font-family: Arial;
	font-size: 20px;
	color: #ff3773;
	text-shadow:
		-0   -1px 1px #ff3773,
		 0   -1px 1px #ff3773,
		-0    1px 1px #000000,
		 0    1px 1px #000000,
		-1px -0   1px #000000,
		 1px -0   1px #000000,
		-1px  0   1px #000000,
		 1px  0   1px #000000,
		-1px -1px 1px #000000,
		 1px -1px 1px #000000,
		-1px  1px 1px #000000,
		 1px  1px 1px #000000,
		-1px -1px 1px #000000,
		 1px -1px 1px #000000,
		-1px  1px 1px #000000,
		 1px  1px 1px #000000;
}
.main-list-bottom {
    display: block;
    padding-top: 20px;
    width: 70%;
    margin: auto;
    color: var(--main-list-color);
}
.main-list-bottom p{
    font-size: 20px;
    line-height: 1;
}

@media screen and (max-width: 1200px) {
    .main-list-bottom {
        width: 90%;
    }
    .list6b li{
        font-size: 20px;
        line-height: 0.8;
    }
    .main-list-bottom p{
        font-size: 18px;
        line-height: 0.8;
    }
}

@media screen and (max-width: 800px) {
    .main-list-bottom {
        width: 90%;
    }
    .list6b li{
        font-size: 15px;
        line-height: 0.8;
    }
    .main-list-bottom p{
        font-size: 12px;
        line-height: 0.8;
    }
}

/*Carousel*/
.carousel-container {
}
.carousel_items {
  display: flex;
  wrap: nowrap;
  overflow: hidden;
}
.carousel_item {
  position: relative;
  min-width: 100%;
  height: 100vh;
  transition: all 0.5s linear;
  background-repeat: no-repeat;
  background-size: cover;
  /*background-attachment: fixed;*/
}
.carousel_text {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%);
  padding: 0.5rem 1rem;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-shadow: 1px 1px black;
  font-size: calc(1.5rem + 0.3vw);
  font-weight: bolder;
}

.item1 {
  background-image: url("{% static 'ipl/img/f1.jpg' %}");
  background-size: 75%;
}
.item2 {
  background-image: url("{% static 'ipl/img/f2.jpg' %}");
  background-size: 75%;
}
.item3 {
  background-image: url("{% static 'ipl/img/f3.jpg' %}");
  background-size: 75%;
}
.item4 {
  background-image: url("{% static 'ipl/img/f4.jpg' %}");
  background-size: 75%;
}
.item5 {
  background-image: url("{% static 'ipl/img/f5.jpg' %}");
  background-size: 75%;
}

/* flex container for main info */

#main-flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  flex-direction: row;
  /*background-color: DodgerBlue;*/
}

.main-flex-item1 {
    flex: 4;
    margin: 10px;
}
.main-flex-item2 {
    flex: 3;
    margin: 10px;
}
</style>

<div id="main-flex-container">
    <div class="main-flex-item1">
        <div class="main-list-common">
            <h2>Направлениями деятельности ИПЛ являются:</h2>
            <div class="flex-main-list-common">
            <ul class="list6b ts flex-ts">
                <li>установление причин пожаров и условий, способствующих их возникновению</li>
                <li>проведение исследований вещественных доказательств, изъятых с мест происшедших пожаров с целью  установления мест возникновения и источника зажигания</li>
                <li>изучение обстоятельств, способствующих возникновению горения и развитию пожара</li>
                <li>выдача  заключений о причинах пожаров и проведение пожарно-технических экспертиз</li>
                <li>определение  показателей пожаровзрывоопасности веществ, материалов, пожарной опасности технологических процессов</li>
                <li>проверка качества огнезащитной обработки, конструкций и материалов</li>
            </ul>
            <ul class="list6b ts flex-ts">
                <li>независимая оценка пожарного риска</li>
                <li>испытание систем пожарной сигнализации</li>
                <li>испытание систем оповещения и управления эвакуацией людей при пожаре</li>
                <li>подготовка декларации пожарной безопасности</li>
                <li>испытание систем: дымоудаления, подпора воздуха и противодымной вентиляции</li>
                <li>проверка качества пенообразователя</li>
                <li>испытание внутреннего противопожарного водопровода на водоотдачу</li>
            </ul>
            </div>
        </div>
        <!--
        <div class="main-list-bottom ts">
            <br>
            <p>В лаборатории могут определить истинную причину пожара. Это нелегко, особенно когда здание выгорает дотла. Но для специалистов ИПЛ нет ничего невозможного. Лаборатория имеет необходимое и современное оборудование,которое позволяет точно найти источник возгорания. </p>
            <br>
            <p>На экспериментальной установке по определению огнезащитной обработки древесины сотрудники лаборатории проверяют качество огнезащитных материалов, которыми пропитываются твердые вещества, например, деревянные конструкции кровли зданий.</p>
            <br>
            <p>Успешное тушение пожаров зависит от многих составляющих, и фактор качества пенообразователя, который используют для тушения, немаловажен. Сотрудниками лаборатории проводится исследование огнетушащих средств – проверка  качества различных пенообразователей для обеспечения их огнетушащей способности, безопасности для жизни и здоровья  населения и окружающей среды. Они выполняют исследовательские  и научно-практические  работы по направлениям деятельности государственной противопожарной службы.</p>
        </div>
        -->
    </div>

    <div class="main-flex-item2">
        <div class="carousel-container">
          <div class="carousel_items">
            <div class="carousel_item item1">
            </div>
            <div class="carousel_item item2">
            </div>
            <div class="carousel_item item3">
            </div>
            <div class="carousel_item item4">
            </div>
            <div class="carousel_item item5">
            </div>
          </div>
        </div>
    </div>
</div>

<script>
    const carouselItems = document.querySelectorAll(".carousel_item");
    let i = 1;

    setInterval(() => {
    // Accessing All the carousel Items
     Array.from(carouselItems).forEach((item,index) => {

       if(i < carouselItems.length){
        item.style.transform = `translateX(-${i*100}%)`
       }
      })

      if(i < carouselItems.length){
        i++;
      }
      else{
        i=0;
      }
    },2000)
</script>

{% endblock %}