{% extends "layout/basic_without_footer.html" %}
{% load static %}

{% block content %}

<style>
:root {
    --main-list-color: #0c1e62;
}
.list6b {
    padding:0;
    list-style: none;
}
.list6b li{
    padding:6px;
    margin: 10px;
    font-size: 18px;
    font-weight: bolt;
    color: var(--main-list-color);
    line-height: 1;
    border-left: 4px solid blue;
}
.list6b li a:link {
    color: var(--main-list-color);
}
.list6b li a:visited {
    color: var(--main-list-color);
}
.list6b li a:hover {
    color: DodgerBlue;
}
.list6b li a:active {
    color: var(--main-list-color);
}
/*.list6b li:before {
    padding-right:10px;
    font-weight: bold;
    color: #C0C0C0;
    content: "\2714";
    transition-duration: 0.5s;
}
.list6b li:hover:before {
    color: #337AB7;
    content: "\2714";
}
*/
.main-list-common {
    display: block;
    width: 90%;
    margin: auto;
}
.flex-main-list-common {
    display: flex;
}
.flex-ts {
    display: inline-block;
    flex: 1;
}
.main-h2 {
    text-align: center;
    color: #0c1e62;
}

.ts {
	font-family: Arial;
	font-size: 20px;
	color: #ff3773;
	text-shadow:
		-0   -1px 1px blue,
		 0   -1px 1px #ff3773,
		-0    1px 1px #000000,
		 0    1px 1px #000000,
		-1px -0   1px #000000,
		 1px -0   1px #000000,
		-1px  0   1px #000000,
		 1px  0   1px #000000,
		-1px -1px 1px #000000,
		 1px -1px 1px #000000,
		-1px  1px 1px #000000,
		 1px  1px 1px #000000,
		-1px -1px 1px #000000,
		 1px -1px 1px #000000,
		-1px  1px 1px #000000,
		 1px  1px 1px #000000;
}
.main-list-bottom {
    display: block;
    padding-top: 20px;
    width: 70%;
    margin: auto;
    color: var(--main-list-color);
}
.main-list-bottom p{
    font-size: 20px;
    line-height: 1;
}

@media screen and (max-width: 1200px) {
    .main-list-bottom {
        width: 90%;
    }
    .list6b li{
        font-size: 20px;
        line-height: 0.8;
    }
    .main-list-bottom p{
        font-size: 18px;
        line-height: 0.8;
    }
    #main-flex-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 800px) {
    .main-list-bottom {
        width: 90%;
    }
    .list6b li{
        font-size: 15px;
        line-height: 0.8;
    }
    .main-list-bottom p{
        font-size: 12px;
        line-height: 0.8;
    }
    #main-flex-container {
        flex-direction: column;
    }
}

/*Carousel*/
.carousel-container {
    width: 600px;
    height: 600px;
}
.carousel_items {
  display: flex;
  wrap: nowrap;
  overflow: hidden;
}
.carousel_item {
  position: relative;
  min-width: 100%;
  height: 100vh;
  transition: all 0.5s linear;
  background-repeat: no-repeat;
  background-size: cover;
  /*background-attachment: fixed;*/
}
.carousel_text {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%);
  padding: 0.5rem 1rem;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-shadow: 1px 1px black;
  font-size: calc(1.5rem + 0.3vw);
  font-weight: bolder;
}

.item1 {
  background-image: url("{% static 'ipl/img/f1.jpg' %}");
  background-size: 100%;
  object-fit: cover;
}
.item2 {
  background-image: url("{% static 'ipl/img/f2.jpg' %}");
  background-size: 100%;
  object-fit: cover;
}
.item3 {
  background-image: url("{% static 'ipl/img/f3.jpg' %}");
  background-size: 100%;
  object-fit: cover;
}
.item4 {
  background-image: url("{% static 'ipl/img/f4.jpg' %}");
  background-size: 100%;
  object-fit: cover;
}
.item5 {
  background-image: url("{% static 'ipl/img/f5.jpg' %}");
  background-size: 100%;
  object-fit: cover;
}

/* flex container for main info */

#main-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 500px;
}

.main-flex-item1 {
    flex: 5;
}
.main-flex-item2 {
    flex: 3;
}

/* Закрываем lightbox */
.lightbox {
  display: none;
}

/* Открываем lightbox */
.lightbox:target {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Содержимое lightbox  */
.lightbox figcaption {
  width: 25rem;
  position: relative;
  padding: 1.5em;
  background-color: lightpink;
}

/* Кнопка закрытия */
.lightbox .close {
  position: relative;
  display: block;
}

.lightbox .close::after {
  right: -1rem;
  top: -1rem;
  width: 2rem;
  height: 2rem;
  position: absolute;
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 50%;
  color: white;
  content: "×";
  cursor: pointer;
}

/* Обёртка lightbox  */
.lightbox .close::before {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  content: "";
  cursor: default;
}
</style>

<div class="lightbox" id="example1">
  <figure>
    <a href="#" class="close"></a>
    <figcaption>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec felis enim,
      placerat id eleifend eu, semper vel sem.
      <img class="img" src="{% static 'ipl/img/rub.png' %}">
    </figcaption>
  </figure>
</div>


<h2 class="main-h2">Направлениями деятельности ИПЛ являются:</h2>


<div id="main-flex-container">
    <div class="main-flex-item1">
        <div class="main-list-common">
            <div class="flex-main-list-common">
            <ul class="list6b flex-ts">
                <li>установление причин пожаров и условий, способствующих их возникновению</li>
                <li>проведение исследований вещественных доказательств, изъятых с мест происшедших пожаров с целью  установления мест возникновения и источника зажигания</li>
                <li>изучение обстоятельств, способствующих возникновению горения и развитию пожара</li>
                <li>выдача  заключений о причинах пожаров и проведение пожарно-технических экспертиз</li>
                <li>определение  показателей пожаровзрывоопасности веществ, материалов, пожарной опасности технологических процессов</li>
                <li>проверка качества огнезащитной обработки, конструкций и материалов</li>
            </ul>
            <ul class="list6b flex-ts">
                <li>независимая оценка пожарного риска</li>
                <li>испытание систем пожарной сигнализации</li>
                <li>испытание систем оповещения и управления эвакуацией людей при пожаре</li>
                <li>подготовка декларации пожарной безопасности</li>
                <li>испытание систем: дымоудаления, подпора воздуха и противодымной вентиляции</li>
                <li>проверка качества пенообразователя</li>
                <li>испытание внутреннего противопожарного водопровода на водоотдачу</li>
            </ul>
            </div>
        </div>
    </div>

    <div class="main-flex-item2">
        <div class="carousel-container">
          <div class="carousel_items">
            <div class="carousel_item item1">
            </div>
            <div class="carousel_item item2">
            </div>
            <div class="carousel_item item3">
            </div>
            <div class="carousel_item item4">
            </div>
            <div class="carousel_item item5">
            </div>
          </div>
        </div>
    </div>
</div>

<script>
    const carouselItems = document.querySelectorAll(".carousel_item");
    let i = 1;

    setInterval(() => {
    // Accessing All the carousel Items
     Array.from(carouselItems).forEach((item,index) => {

       if(i < carouselItems.length){
        item.style.transform = `translateX(-${i*100}%)`
       }
      })

      if(i < carouselItems.length){
        i++;
      }
      else{
        i=0;
      }
    },2000)
</script>

{% endblock %}