{% extends "layout/basic.html" %}
{% load static %}

{% block content %}

<style>
  .item1 {
    background-image: url("{% static 'ipl/img/main/f1.jpg' %}");
    background-size: cover;
  }
  .item2 {
    background-image: url("{% static 'ipl/img/main/f2.jpg' %}");
    background-size: cover;
  }
  .item3 {
    background-image: url("{% static 'ipl/img/main/f3.jpg' %}");
    background-size: cover;
  }
  .item4 {
    background-image: url("{% static 'ipl/img/main/f4.jpg' %}");
    background-size: cover;
  }
  .item5 {
    background-image: url("{% static 'ipl/img/main/f5.jpg' %}");
    background-size: cover;
  }
  .item6 {
    background-image: url("{% static 'ipl/img/main/f6.jpg' %}");
    background-size: cover;
  }
  .item7 {
    background-image: url("{% static 'ipl/img/main/f7.jpg' %}");
    background-size: cover;
  }
  .item8 {
    background-image: url("{% static 'ipl/img/main/f8.jpg' %}");
    background-size: cover;
  }
  .item9 {
    background-image: url("{% static 'ipl/img/main/f9.jpg' %}");
    background-size: cover;
  }
  .item10 {
    background-image: url("{% static 'ipl/img/main/f10.jpg' %}");
    background-size: cover;
  }
</style>

<h2 class="main-h2">Направлениями деятельности ИПЛ являются:</h2>

<div id="main-flex-container">
    <div class="main-flex-item1">
        <div class="main-list-common">
            <div class="flex-main-list-common">
            <ul class="list6b flex-ts">
                <li>установление причин пожаров и условий, способствующих их возникновению</li>
                <li>проведение исследований вещественных доказательств, изъятых с мест происшедших пожаров с целью  установления мест возникновения и источника зажигания</li>
                <li>изучение обстоятельств, способствующих возникновению горения и развитию пожара</li>
                <li>выдача  заключений о причинах пожаров и проведение пожарно-технических экспертиз</li>
                <li>определение  показателей пожаровзрывоопасности веществ, материалов, пожарной опасности технологических процессов</li>
                <li>проверка качества огнезащитной обработки, конструкций и материалов</li>
            </ul>
            <ul class="list6b flex-ts">
                <li>независимая оценка пожарного риска</li>
                <li>испытание систем пожарной сигнализации</li>
                <li>испытание систем оповещения и управления эвакуацией людей при пожаре</li>
                <li>подготовка декларации пожарной безопасности</li>
                <li>испытание систем: дымоудаления, подпора воздуха и противодымной вентиляции</li>
                <li>проверка качества пенообразователя</li>
                <li>испытание внутреннего противопожарного водопровода на водоотдачу</li>
            </ul>
            </div>
        </div>
    </div>

    <div class="main-flex-item2">
        <div class="carousel-container">
          <div class="carousel_items">
            <div class="carousel_item item1">
            </div>
            <div class="carousel_item item2">
            </div>
            <div class="carousel_item item3">
            </div>
            <div class="carousel_item item4">
            </div>
            <div class="carousel_item item5">
            </div>
            <div class="carousel_item item6">
            </div>
            <div class="carousel_item item7">
            </div>
            <div class="carousel_item item8">
            </div>
            <div class="carousel_item item9">
            </div>
            <div class="carousel_item item10">
            </div>
          </div>
        </div>
    </div>
</div>

<div style="height: 100px"></div>
<div style="height: 10px"></div>
<div style="height: 10px"></div>
<div></div>
<div></div>
<div></div>
<div></div>

<script>
    const carouselItems = document.querySelectorAll(".carousel_item");
    let i = 1;

    setInterval(() => {
      // Accessing All the carousel Items
      Array.from(carouselItems).forEach((item,index) => {
        if(i < carouselItems.length){
          item.style.transform = `translateX(-${i*100}%)`
        }
      })

      if(i < carouselItems.length){
        i++;
      }
      else{
        i=0;
      }
    },2000)
</script>

{% endblock %}