{% extends "layout/basic.html" %}
{% load static %}

{% block content %}
  <div class="container-fluid bg-grey">
    <div class="row">
      <div class="col-sm-6">
        <img src="{% static 'ipl/img/build.webp' %}" style="width: 70%;">
      </div>
      <div class="col-sm-6">
        <h2></h2><br>
        <h4>В лаборатории могут определить истинную причину пожара. Это нелегко, особенно когда здание выгорает дотла. Но для специалистов ИПЛ нет ничего невозможного. Лаборатория имеет необходимое и современное оборудование, которое позволяет точно найти источник возгорания. 
        <h4>На экспериментальной установке по определению огнезащитной обработки древесины сотрудники лаборатории проверяют качество огнезащитных материалов, которыми пропитываются твердые вещества, например, деревянные конструкции кровли зданий.</h4>
        <h4>Успешное тушение пожаров зависит от многих составляющих, и фактор качества пенообразователя, который используют для тушения, немаловажен. Сотрудниками лаборатории проводится исследование огнетушащих средств – проверка  качества различных пенообразователей для обеспечения их огнетушащей способности, безопасности для жизни и здоровья  населения и окружающей среды. Они выполняют исследовательские  и научно-практические  работы по направлениям деятельности государственной противопожарной службы.</h4>
        <br>
      </div>
    </div>
  </div>
  </div>
{% endblock %}