<style>
    #footer {
        text-align: center;
        font-size: 18px;
        height: 500px;
        margin: auto;
    }
    #footer p {
        line-height: 1.2;
        font-weight: bold;
    }
    .relative {
        position: relative;
    }
</style>

<div class="relative">
    <div id="footer">
        <br>
        <p><small>ПН–ПТ: 8:30–17:30 (обед 12:30-13:30) СБ-ВС: выходной</small></p>
        <p>E-mail: ipl@30.mchs.gov.ru;  gufpsipl@mail.ru  8(8512)66-91-23</p>
        <br>
        <p>414056, Астраханская область, г. Астрахань, ул. Савушкина, 41</>
        <p>©2022 ФГБУ СЭУ ФПС ИПЛ по Астраханской области</p>
    </div>
</div>