{% load static %}
<head>
    <meta http-equiv="Content-Type" content="text/html">
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <!-- It is template area download with W3schoools.com -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Load fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap" rel="stylesheet">

    <!-- It is template area download with W3schoools.com -->
    <!--
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap -->
    <!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <!-- Vue -->
    <!-- <script src="https://unpkg.com/vue@2.7.14/dist/vue.js"></script> -->

    <!-- My css styles -->
    <link rel="stylesheet" type = "text/css" href="{% static 'ipl/css/root.css'%}">
    <link rel="stylesheet" type = "text/css" href="{% static 'ipl/css/res.css'%}">
    <link rel="stylesheet" type = "text/css" href="{% static 'ipl/css/menu.css'%}">
    <link rel="stylesheet" type = "text/css" href="{% static 'ipl/css/footer.css'%}">

    <link rel="stylesheet" type = "text/css" href="{% static 'ipl/css/main.css'%}">
    <link rel="stylesheet" type = "text/css" href="{% static 'ipl/css/politic.css'%}">
    <link rel="stylesheet" type = "text/css" href="{% static 'ipl/css/corruption.css'%}">

    <!-- My javascripts -->
    <script src="{% static 'ipl/src/scripts.js'%}"></script>
</head>