{% load static %}

<head>
    <meta http-equiv="Content-Type" content="text/html">
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <!-- It is template area download with W3schoools.com -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Load fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>


    <!-- My css styles -->
    <link rel="stylesheet" type = "text/css" href="{% static 'ipl/css/root.css'%}">
    {% comment %} <link rel="stylesheet" type = "text/css" href="{% static 'ipl/css/res.css'%}"> {% endcomment %}
    <link rel="stylesheet" type = "text/css" href="{% static 'ipl/css/menu.css'%}">
    <link rel="stylesheet" type = "text/css" href="{% static 'ipl/css/footer.css'%}">

    <link rel="stylesheet" type = "text/css" href="{% static 'ipl/css/main.css'%}">
    <link rel="stylesheet" type = "text/css" href="{% static 'ipl/css/corruption.css'%}">
    {% comment %} <link rel="stylesheet" type = "text/css" href="{% static 'ipl/css/politic.css'%}"> {% endcomment %}
    <link rel="stylesheet" type = "text/css" href="{% static 'ipl/css/contacts.css'%}">
    <link rel="stylesheet" type = "text/css" href="{% static 'ipl/css/info.css'%}">
    <link rel="stylesheet" type = "text/css" href="{% static 'ipl/css/sample-letters.css'%}">
    <link rel="stylesheet" type = "text/css" href="{% static 'ipl/css/services.css'%}">
    <link rel="stylesheet" type = "text/css" href="{% static 'ipl/css/spec-version.css'%}">

    <!-- My javascripts -->
    <script src="{% static 'ipl/src/scripts.js'%}"></script>
    <script src="{% static 'ipl/src/spec-version.js'%}"></script>
</head>