{% extends "layout/basic.html" %}
{% load static %}

{% block content %}

<style>
.sample {
  padding: 20px;
  background: #3f4d83;
}
.sample_letters {
  width: 1000px;
  margin: auto;
  padding: 20px;
  background: yellow;
}

.sample_letters .act {
  margin-top: -10px;
  color: #7faade;
  font-size: 15px;
  font-weight: bold;
}

.sample_letters .sample-title {
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 0px;
}
.sample_letters .sample-title h1 {
  text-align: center;
  color: #0c1e62;
}

.sample_letters ul {
  line-height: 1.5em;
  margin: 5px 0 15px;
  padding: 0;
}

.sample_letters li {
  font-family: 'Verdana', 'Helvetica', 'sans-serif';
  font-size: 20px;
  text-align: justify;
  list-style: none;
  position: relative;
  margin: 10px;
  padding: 0 0 0 20px;
}

.sample_letters li.square::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 10px;
  height: 10px;
  background-color: #f9dd94;
}

</style>
<div class="sample">
<div class="sample_letters">
  <div class="sample-title">
    <h1>Образцы писем на оказываемые услуги.</h1>
    <h1>Ниже приведены образцы на наиболее востребованные услуги.</h1>
  </div>

  <ul>
    <li class="letter-text square"><a href="{% static 'ipl/docs/Образец огнезащита дерево.doc' %}">Проверка качества огнезащитной обработки деревянных конструкций</a></li>
    <li class="act"><a href="{% static 'ipl/docs/Акт изъятия отщипов древесины.doc' %}">(обязательно скачайте и заполните акт изъятия)</a></li>
    <li class="letter-text square"><a href="{% static 'ipl/docs/Образец огнезащита металл.doc' %}">Проверка качества огнезащитной обработки металлических конструкций</a></li>
    <li class="letter-text square"><a href="{% static 'ipl/docs/Образец огнезащита текстиль.doc' %}">Проверка качества огнезащитной обработки текстильных материалов</a></li>
    <li class="letter-text square"><a href="{% static 'ipl/docs/Образец проверка пенообразователя.doc' %}">Проверка качества пенообразователя</a></li>
    <li class="act"><a href="{% static 'ipl/docs/Акт изъятия проб пенообразователя.docx' %}">(обязательно скачайте и заполните акт изъятия)</a></li>
    <li class="letter-text square"><a href="{% static 'ipl/docs/образец горючесть метод 1.docx' %}">Испытания для отнесения строительных материалов к негорючим или к горючим</a></li>
    <li class="letter-text square"><a href="{% static 'ipl/docs/Образец распространение пламени.doc' %}">Определение группы распространения пламени</a></li>
    <li class="letter-text square"><a href="{% static 'ipl/docs/Образец письма по расчету риска.docx' %}">Независимая оценка пожарного риска</a></li>
    <li class="letter-text square"><a href="{% static 'ipl/docs/Образец письма по расчету категории помещений.docx' %}">Расчет категорий помещений по взрывопожарной и пожарной опасности</a></li>
  </ul>
</div>
</div>
{% endblock %}