{% extends "layout/basic.html" %}
{% load static %}

{% block content %}

<div class="sample">
<div class="sample_letters">
  <div class="sample-title">
    <h1>Образцы писем на оказываемые услуги.</h1>
    <h1>Ниже приведены образцы на наиболее востребованные услуги.</h1>
  </div>

  <ul>
    <li class="letter-text square"><a href="{% static 'ipl/docs/Образец огнезащита дерево.doc' %}">1. Проверка качества огнезащитной обработки деревянных конструкций</a></li>
    <li class="act"><a href="{% static 'ipl/docs/Акт изъятия отщипов древесины.doc' %}">(обязательно скачайте и заполните акт изъятия)</a></li>
    <li class="letter-text square"><a href="{% static 'ipl/docs/Образец огнезащита металл.doc' %}">2. Проверка качества огнезащитной обработки металлических конструкций</a></li>
    <li class="letter-text square"><a href="{% static 'ipl/docs/Образец огнезащита текстиль.doc' %}">3. Проверка качества огнезащитной обработки текстильных материалов</a></li>
    <li class="letter-text square"><a href="{% static 'ipl/docs/Образец проверка пенообразователя.doc' %}">4. Проверка качества пенообразователя</a></li>
    <li class="act"><a href="{% static 'ipl/docs/Акт изъятия проб пенообразователя.docx' %}">(обязательно скачайте и заполните акт изъятия)</a></li>
    <li class="letter-text square"><a href="{% static 'ipl/docs/образец горючесть метод 1.docx' %}">5. Испытания для отнесения строительных материалов к негорючим или к горючим</a></li>
    <li class="letter-text square"><a href="{% static 'ipl/docs/образец распространение пламени.docx' %}">6. Определение группы распространения пламени</a></li>
    <li class="letter-text square"><a href="{% static 'ipl/docs/Образец письма по расчету риска.docx' %}">7. Независимая оценка пожарного риска</a></li>
    <li class="letter-text square"><a href="{% static 'ipl/docs/Образец письма по расчету категории помещений.docx' %}">8. Расчет категорий помещений по взрывопожарной и пожарной опасности</a></li>
    <li class="letter-text square"><a href="{% static 'ipl/docs/Акт изъятия на группу распространения пламени.doc' %}">9. Акт изъятия на группу распространения пламени</a></li>
    <li class="letter-text square"><a href="{% static 'ipl/docs/Акт отбора ткани.doc' %}">10. Акт отбора ткани</a></li>
  </ul>
</div>
</div>
{% endblock %}