.title {
display: flex;
flex: 1;
background: linear-gradient(#425085, #0c1e62);
height: 250px;
border: solid #18296a;
}
.before {
display: inline-block;
height: 100%;
vertical-align: middle;
}
.title-center {
margin: auto;
width: 800px;
}
.title .title-center .h1 {
text-align: center;
margin: auto;
line-height: 1.2;
font-family: 'Work Sans', sans-serif;
font-size: 11px;
font-weight: 700;
color: White;
}
.title. title-center .h1 h1 {
display: inline-box;
}
.title .title-center {
display: block;
}
.title .title-left {
}
.title {
position: relative;
}
.title .title-left .img {
/*position: absolute;
left: 50px;
top: 30px;
height: 180px;*/
}
.down-line {
background: linear-gradient(#425085, #0c1e62);
}
@media screen and (max-width: 1200px) {
.title-center {
margin: auto;
width: 500px;
}
.title-center h1 {
font-size: 1.1rem;
}
.title .title-left .img {
position: absolute;
left: 5%;
top: 50px;
height: 110px;
}
}
@media screen and (max-width: 800px) {
.title-center {
margin: auto;
width: 400px;
}
.title-center h1 {
}
.title .title-left .img {
display: none;
}
