{% extends "layout/basic.html" %}
{% load static %}

{% block content %}

<h3 class="info-h3">История создания лаборатории</h3>
  <div class="info-div">
      <img src="{% static 'ipl/img/build.webp' %}">
      <br>
      <div class="info-div-text">
        <p>Датой основания подразделения, основной функцией которого является исследование пожаров, проведение научно-технических работ в области пожарной безопасности в Астраханской области считается 29.06.1970 г. В то время была создана Пожарно-техническая станция (ПТС), предназначенная для исследования крупных пожаров, а также проведения научных исследований веществ и материалов. Все это было необходимо для установления очагов и причин пожаров путем их исследований силами специалистов, которых в то время было недостаточно, и сотрудниками территориальных отделов пожарной охраны просто была необходима квалифицированных помощь при расследовании пожаров.</p>
        <p>В 1979 г. ПТС была переименована в Испытательную пожарную лабораторию (ИПЛ). Основной функцией ИПЛ по прежнему оставалось исследование пожаров, а также составление научных программ по пожарной безопасности объектов, анализы и исследования пожарной опасности веществ и материалов на складах, цехах, заводах на территории Астраханской области. Сотрудники ИПЛ круглосуточно осуществляли четырех сменное дежурство с целью оперативного реагирования и грамотного проведения исследований пожаров. Осуществлялись фотосъемки всех исследованных пожаров. Сотрудники ИПЛ постоянно находились в тесном взаимодействии с территориальными органами ГПН, органами дознания и следствия.</p>
        <p>В 2005 году на базе ИПЛ было создано ГУ СЭУ ФПС ИПЛ по Астраханской области. Деятельность ГУ СЭУ ФПС ИПЛ по АО организована в соответствии с Федеральным законом от 31 мая 2001 года № 73-ФЗ «О судебно-экспертной деятельности в РФ», приказа МЧС России от 19.08.2005 года № 640 «Инструкции по организации и производству судебных экспертиз в судебно-экспертных учреждениях ФПС». Область деятельности в связи с изменениями значительно расширилась. К основным функциям лаборатории, помимо существующих ранее, отнесены судебные экспертизы по делам о пожарах и нарушениях требований пожарной безопасности. Усовершенствовалась материально-техническая база и оснащение, что позволило проводить исследования на высокоточном оборудовании: рентгеноструктурные, металлографические исследования, газовая хроматография и флуоресцентная спектроскопия.</p>
        <p>С 2016 года ФГБУ СЭУ ФПС ИПЛ по Астраханской области переехало на ул. Савушкина, 41 литер А и продолжает успешно выполнять свои задачи.</p>
        <br>
      </div>
  </div>
<h3 class="info-h3">Фотоматериалы  из архива ФГБУ СЭУ ФПС ИПЛ по 
  Астраханской области</h3>
  <div class="history">
    <div class="history_block">
      <img src="{% static 'ipl/img/history/1.jpg' %}">
      <p>Здание летнего Астраханского музыкального театра (до пожара). 1976 год</p>
    </div>
    <div class="history_block">
      <img src="{% static 'ipl/img/history/2.jpg' %}">
      <p>Пожар в здании летнего Астраханского музыкального театра. 1976 год</p>
    </div>
    <div class="history_block">
      <img src="{% static 'ipl/img/history/3.png' %}">
      <p>Осмотр места пожара. 1980 г.</p>
    </div>
    <div class="history_block">
      <img src="{% static 'ipl/img/history/4.jpg' %}">
      <p>Пожар на брандвахте г. Астрахань. 1977 г.</p>
    </div>
    <div class="history_block">
      <img src="{% static 'ipl/img/history/5.jpg' %}">
      <p>Столкновение железнодорожных составов с последующим возгоранием. 1977 г.</p>
    </div>
    <div class="history_block">
      <img src="{% static 'ipl/img/history/6.jpg' %}">
      <p>Столкновение железнодорожных составов с последующим возгоранием. 1977 г.</p>
    </div>
  </div>
{% endblock %}