{% extends "layout/basic.html" %}
{% load static %}

{% block content %}
  <!-- Container (Services Section) -->
  <span id="letters"></span>
  <!-- Container (Contact Section) -->
  <div id="contact" class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h2 class="text-center">Начальник лаборатории</h2>
        <p class="text-center">майор внутренней службы</p>
        <p class="text-center">Мысев Евгений Николаевич</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="span4"></div>
      <div class="span4"><img class="center-block" src="{% static 'ipl/img/boss.webp' %}" style="width: 70%;">
      </div>
      <div class="span4"></div>
    </div>
  </div>

  <br>
  <h2 class="text-center">Адрес</h2>
  <br>

  <div class="container">
    <div class="row">
      <div class="address">
        <div class="p-2">
          <p><span class="glyphicon glyphicon-map-marker"></span>414056, Астраханская область, г. Астрахань, ул. Савушкина, 41</p>
        </div>
        <div class="p-2">
          <p><span class="glyphicon glyphicon-phone">Тел. 8(8512)66-91-23</span></p>
        </div>
        <!--
        <div class="p-2">
          <p><span class="glyphicon glyphicon-envelope"></span>E-mail: ipl@mail.30.mchs.gov.ru, gufpsipl@mail.ru</p>
        </div>
        <div class="p-2">
          <p>©2022 ФГБУ СЭУ ФПС ИПЛ по Астраханской области</p>
        </div>
        -->
      </div>
    </div>
    <div class="row">
      <div>
      <div class="outer" style="">
        <span class="inner" style="border:1px solid red">
          <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A8b2daa212417b4074ea640499d7ee1c3c72bba6a57fb70d8674d2b07d6f7b7ae&amp;width=600&amp;height=400&amp;lang=ru_RU&amp;scroll=true;"></script>
        </span>
      </div>
      </div>
    </div>
    <div class="row">
      <br>
      <h2 class="text-center">Напишите нам</h2>
      <br>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <form action="mailto:rwr79@mail.ru" method="post" enctype="text/plain" >
          <div class="form-group">
            <div id="contact" class="container">

              <div class="row">
                <div class="col-sm-6 form-group">
                  <label for="name">Организация</label>
                  <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                </div>
                <div class="col-sm-6 form-group">
                  <label for="email">Почта</label>
                  <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 form-group">
                  <textarea class="form-control id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 form-group">
                  <button type="submit" class="btn btn-default">Отправить</button>
                </div>
              </div>


            </div>
          </div>
        </form>

      </div>
    </div>
  </div>

<style>
.outer:before {
  content: '';
  display: inline-block;
  height: 1%;
  vertical-align: middle;
}

.inner {
  display: inline-block;
  vertical-align: middle;
}

/* добавим горизонтальное центрирование */
.outer {
  text-align: center;
}
</style>

<!--
<div class="outer" style="height:100px; width: 100%;">
  <span class="inner" style="border:1px solid red">
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A8b2daa212417b4074ea640499d7ee1c3c72bba6a57fb70d8674d2b07d6f7b7ae&amp;width=600&amp;height=400&amp;lang=ru_RU&amp;scroll=true;"></script>
  </span>
</div>
-->

  <!--Contacts-->
<!--
  <div id="contacts" class="container">
    <h3 class="text-center">Contact</h3>
    <p class="text-center"><em>We love our fans!</em></p>
    <div class="row">
      <div class="col-md-4">
        <p>Fan? Drop a note.</p>
        <p><span class="glyphicon glyphicon-map-marker"></span>Chicago, US</p>
        <p><span class="glyphicon glyphicon-phone"></span>Phone: +00 1515151515</p>
        <p><span class="glyphicon glyphicon-envelope"></span>Email: mail@mail.com</p>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-sm-6 form-group">
            <input class="form-control" id="name" name="name" placeholder="Name" type="text" required="">
          </div>
          <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required="">
          </div>
        </div>
        <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
        <br>
        <div class="row">
        <div class="col-md-12 form-group">
        <button class="btn pull-right" type="submit">Send</button>
        </div>
        </div>
      </div>
    </div>
    <br>
    <h3 class="text-center">From The Blog</h3>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home" aria-expanded="true">Mike</a></li>
        <li class=""><a data-toggle="tab" href="#menu1" aria-expanded="false">Chandler</a></li>
        <li class=""><a data-toggle="tab" href="#menu2" aria-expanded="false">Peter</a></li>
    </ul>
    <div class="tab-content">
    <div id="home" class="tab-pane fade active in">
        <h2>Mike Ross, Manager</h2>
        <p>Man, we've been on the road for some time now. Looking forward to lorem ipsum.</p>
    </div>
    <div id="menu1" class="tab-pane fade">
        <h2>Chandler Bing, Guitarist</h2>
        <p>Always a pleasure people! Hope you enjoyed it as much as I did. Could I BE.. any more pleased?</p>
    </div>
    <div id="menu2" class="tab-pane fade">
        <h2>Peter Griffin, Bass player</h2>
        <p>I mean, sometimes I enjoy the show, but other times I enjoy other things.</p>
    </div>
    </div>
  </div>
-->

<style>
  .block-30 {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
  .block-middle {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #contact p {
    font-size: 20px;
  }
  .address p {
    text-align: center;
  }
</style>
{% endblock %}