{% extends "layout/basic.html" %}
{% load static %}

{% block content %}

<span id="letters"></span>
<div id="" class="container">
    <div class="">
      <br>
      <h2 class="text-center">Начальник лаборатории</h2>
      <p class="text-center">майор внутренней службы</p>
      <p class="text-center">Мысев Евгений Николаевич</p>
      <br>
    </div>
</div>

<div class="contacts-div-img">
  <img class="contacts-div-img-boss" src="{% static 'ipl/img/boss.webp' %}">
</div>

<br>
<h2 class="text-center">Адрес</h2>
<br>

<div class="address">
  <div class="p-2">
    <p><span class="glyphicon glyphicon-map-marker"></span>414056, Астраханская область, г. Астрахань, ул. Савушкина, 41</p>
  </div>
  <div class="p-2">
    <p><span class="glyphicon glyphicon-phone">Тел. 8(8512)66-91-23</span></p>
  </div>
</div>
<br>

<div class="row">
  <div>
  <div class="outer" style="">
    <span class="inner" style="border:1px solid red">
      <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A8b2daa212417b4074ea640499d7ee1c3c72bba6a57fb70d8674d2b07d6f7b7ae&amp;width=600&amp;height=400&amp;lang=ru_RU&amp;scroll=true;"></script>
    </span>
  </div>
  </div>
</div>

<div class="row">
  <br>
  <h2 class="text-center">Напишите нам</h2>
  <br>
</div>

<div class="contacts-form">
<form action="mailto:rwr79@mail.ru" method="post" enctype="text/plain" >
    <label for="name">Организация</label>
    <input id="name" name="Наименование организации" placeholder="Наименование организации" type="text" required>
    <br>
    <label for="email">Почта</label>
    <input id="email" name="Адрес эл.почты" placeholder="Эл. почта" type="email" required>
    <br>
    <label for="tel">Телефон</label>
    <input id="tel" name="Телефон" placeholder="Телефон" type="text" required>
    <br>
    <textarea id="Сообщение" name="comments" placeholder="Сообщение" rows="5"></textarea>
    <button type="submit" class="btn btn-default">Отправить</button>
</form>
</div>
{% endblock %}